@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #fff;
  --bg-secondary: #F5F5F5;
  --bg-tertiary: #E5E5E5;
  --border-primary: #F5F5F5;
  --border-secondary: #E5E5E5;
  --color-primary: #72CA97;
  --color-secondary: #62B183;
  --color-accent: #72CA9708;
  --text-primary: #000;
  --text-secondary: #606060;
  --shadow-success: #72CA9770 0px 3px 10px 0px;
  
  --width-main: 1200px;
  --max-width-main: 90%;
  --modal-width: 500px;
  --donation-list-height: 225px;
  --donate-section-width: 375px;
}

@layer components {
  body {
    @apply bg-primary;
  }
}